<%= render 'shared/title', title: "Residents" %>


<% @users.each do |user| %>
	<div class='well span3'>
			<p>Unit: <%= user.unit %></p>
			<%= link_to "#{user.first_name.titleize} #{user.last_name.titleize}", user_path(user), class: 'lead'%>
			<p class="inline"><%= link_to 'Edit', edit_user_path(user) %>
			<% if current_user.admin? %>
				<%= link_to 'Destroy',  user,  method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %></p>
	</div>
<% end %>
