
<div class='well'>
	<h3 class='lead'><%= link_to doc.title, pdf_path(doc.url) %></h3>

	<p>
		<span class="quiet">posted by </span><%= doc.user.username %>
		<small>at <%= display_datetime(doc.created_at) %></small>
		<% if logged_in? and current_user.admin? %>
			<%= link_to "Edit", edit_doc_type_doc_path(doc_type, doc) %>
			<%= link_to 'Destroy',  [doc_type, doc],  method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</p>
</div>
