<p>
	<%= render @post.categories %>

</p>

	<%= render 'shared/content_title', title: @post.title %>
	<h6>URL: <%= link_to @post.url, fix_url(@post.url) %></h6>

<p><%= @post.description %></p>
<p>
	<span class="quiet">posted by </span><%= @post.user.username %>
	<small>at <%= display_datetime(@post.created_at) %></small>
</p>
<hr/>

<% if logged_in? %>
	<%= render 'comments/form'%>
<% end %>

<h5>Comments:</h5>

<% @comments.each do |com| %>
	<%= render 'comments/comment', com: com %>
<% end %>